
@{
    ViewBag.Title = "Category";
    int startNum = 1;
}
<div class="header">
    <h2>과목요건</h2>
</div>
<div class="content">
    <table class="pure-table pure-table-bordered" id="categoryTbl">
        <thead>
            <tr style="text-align:center">
                <th>&nbsp;</th>
                <th>과목구분</th>
                <th>이수학점</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CanYou.Models.Info.LectureCategoryRequirement.LectureCategoryRequirementItem item in ViewBag.list) { 
            <tr>
                <td>@(startNum++)</td>
                <td>@item.LectureCategoryName</td>
                <td>@item.Cutline</td>
                <td>
                    <button class="pure-button button-xsmall" data-id="@item.Id" name="update">수정</button>
                </td>
                <td>
                    <button class="pure-button button-xsmall" data-id="@item.Id" name="delete">삭제</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a class="pure-button pure-button-primary" href="/Requirement/CategoryRegister">과목요건등록</a>
</div>
@section script
{
    <script src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript">
           
        $("button[name='delete']").click(function () {
            var id = $(this).data("id");
            var url = "/Requirement/CategoryRequirementDelete/"+id;
            $.getJSON(url, function (data) {
                if (data.result == 'fail') {
                    alert(data.message);
                } else {
                    $(location).attr('href', "/Requirement/Category");
                }
            });
        });

        $("button[name='update']").click(function () {
            var id = $(this).data("id");
            var url = "/Requirement/CategoryUpdate/" + id;
            $(location).attr('href', url);
        });
    </script>
}

